.card {
  border: 1px solid red;
  width: 300px;
  /* height: 300px; */
  /* padding: 10px; */
  background: rgba(9, 9, 9, 0.25);
  max-height: 50vh;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.card:hover {
  box-shadow: 0 8px 32px 0 #198fc1;
  backdrop-filter: blur(6px);
  transition: 300ms;
}
.GridCards {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
  row-gap: 60px;
  margin-left: 100px;
  margin-top: 100px;
  z-index: 50;
  height: 50vh;
}
.card h2 {
  color: white;
  padding-top: 5px;
  padding-left: 20px;
}
.card h3{
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: -10px;
}

.card p{
  padding-left: 20px;
}

.disc {
  color: rgb(99, 99, 99);
}
.btn {
  width: 300px;
  height: 30px;
  margin-top: 15px;
  margin-left: -1px;
  background-color: transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  border-top: 1px solid #00ADB5;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.btn:hover {
  background-color: #00ADB5;
  border: none;
}


@media only screen and  (max-width: 500px) {

  .GridCards{
    display: grid;
    grid-template-columns: auto ;
    column-gap: 10px;
    row-gap: 60px;
    width: 400px;
    margin-left: 60px;
    margin-top: 10px;
    z-index: 50;
    
  }
  
}
/* ipad mini*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .GridCards{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    row-gap: 60px;
    width: 400px;
    margin-left: 70px;
    margin-top: 10px;
    z-index: 50;
  
  }
  
}
